.controls {
  background: rgb(239, 237, 237);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;

  & > *:not(:last-child) {
    border-right: 1px dashed grey;
  }
}
