.field {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80% 20%;
}

.buttons {
  background: rgba(255, 255, 255, 0.831);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed rgba(128, 128, 128, 0.254);
  & > * {
    margin: 0.5rem 0;
  }
  & .status-true {
    border: 2px solid green;
    background: rgba(0, 255, 0, 0.33);
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    width: 30%;
    p {
      width: 100%;
      color: green;
      font-weight: 700;
    }
  }
  & .status-false {
    border: 2px solid rgb(128, 0, 0);
    background: rgba(255, 0, 0, 0.33);
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    width: 30%;
    p {
      width: 100%;
      color: rgb(128, 0, 0);
      font-weight: 700;
    }
  }
  & .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    & > * {
      padding: 1.5rem 2rem;
      cursor: pointer;
      margin: 0.8rem;
      color: white;
      border-radius: 5px;
      border: 0;
      &:hover {
        filter: brightness(1.5);
        transform: scale(0.97);
      }

      &:active {
        transform: scale(0.95);
      }
    }
    & .park {
      background-color: red;
    }
    & .unpark {
      background-color: green;
    }
  }
}

.road {
  background: url("../../../public/img/goudron.jpg");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .car {
    transition: 5s all;
    img {
      width: 6rem;
    }
  }
}

.move {
  margin-bottom: 130%;
}
